<mat-sidenav-container class="example-container">
  <button mat-fab *ngIf="authService.isLoggedIn" class="example-fab"  (click)="sidenav.open()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list>
      <mat-list-item>Nom : Admin</mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
        <button mat-raised-button color="warn" (click)="putInDataBase()">putData</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <span  routerLink="/pokemon/all" >Pokémons</span>
      <span class="example-spacer"></span>
      <app-pokemon-search *ngIf="authService.isLoggedIn">
      </app-pokemon-search>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>



